* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "poppins";
  src: url("/fonts/Poppins/Poppins-Light.ttf");
}

body {
  font-family: "poppins";
}

.bg-theme-dark {
  background: #00984a;
}

.bg-theme-light {
  background: #57d393;
}

.bg-theme-x-light {
  background: #ddfcec;
}

.text-theme-dark {
  color: #00984a;
}

.text-theme-light {
  color: #57d393;
}

.text-theme-x-light {
  color: #ddfcec;
}

.border-right {
  border-right: 1px solid #ffffff;
}

.border-left {
  border-left: 1px solid #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

.top-navbar {
  padding: 8px 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.top-navbar .brand-logo {
  width: 80px;
  height: 40px;
  background: #ddfcec;
}

.top-navbar #search {
  width: 300px;
}

.top-navbar #search::-webkit-input-placeholder {
  font-family: "poppins";
  font-weight: lighter;
  font-size: 12px;
}

.top-navbar #search:-ms-input-placeholder {
  font-family: "poppins";
  font-weight: lighter;
  font-size: 12px;
}

.top-navbar #search::-ms-input-placeholder {
  font-family: "poppins";
  font-weight: lighter;
  font-size: 12px;
}

.top-navbar #search::placeholder {
  font-family: "poppins";
  font-weight: lighter;
  font-size: 12px;
}

.top-navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.top-navbar ul li {
  display: inline;
  margin: 0 5px;
  padding: 4px;
  font-size: 14px;
  color: white;
}

.top-navbar ul li i {
  padding: 0 2px;
}

.bottom-navbar {
  background: transparent;
  padding: 4px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 0.5px solid rgba(56, 56, 56, 0.267);
  margin: 0 auto 10px;
}

.bottom-navbar .navbar-menu {
  margin: 0;
}

.bottom-navbar .navbar-menu li,
.bottom-navbar .navbar-menu a {
  font-size: 12px;
  font-weight: bold;
  color: #2b2a2a;
  letter-spacing: 0.75px;
  padding: 2px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.bottom-navbar .navbar-menu li i,
.bottom-navbar .navbar-menu a i {
  color: #353434;
  -webkit-transform: translate(2px, 1px);
          transform: translate(2px, 1px);
}

.bottom-navbar .navbar-menu li:hover {
  text-decoration: underline;
}

.bottom-navbar .navbar-menu .active {
  color: #00984a;
}

.bottom-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-navbar ul li {
  display: inline;
  margin: 0 10px;
  padding: 0 2px;
}

.bottom-navbar ul .fa-search {
  padding: 13px;
  margin-right: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 6px #3a39399f;
          box-shadow: 2px 2px 6px #3a39399f;
}

.bottom-navbar ul .sign-btn {
  font-size: 12px;
  width: 150px;
}

.landing-form {
  border-radius: 15px;
  -webkit-box-shadow: -1px 2px 6px rgba(128, 128, 128, 0.493);
          box-shadow: -1px 2px 6px rgba(128, 128, 128, 0.493);
  padding: 40px 30px;
}

.landing-form .form-title {
  font-weight: bold;
  padding-bottom: 10px;
}

.landing-form input {
  border-radius: 7px;
}

.landing-form input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.landing-form input::-webkit-input-placeholder {
  font-size: 14px;
}

.landing-form input:-ms-input-placeholder {
  font-size: 14px;
}

.landing-form input::-ms-input-placeholder {
  font-size: 14px;
}

.landing-form input::placeholder {
  font-size: 14px;
}

.landing-form label {
  font-size: 14px;
  padding: 2px 10px;
}

.main-heading {
  font-weight: bolder;
}

.header-second-column {
  overflow: hidden;
  background: rgba(7, 7, 7, 0);
  position: relative;
}

.header-second-column .shape1 {
  width: 40%;
  height: 130%;
  -webkit-transform: translate(128%, -10%) skew(-25deg, 10deg) scaleX(1.7);
          transform: translate(128%, -10%) skew(-25deg, 10deg) scaleX(1.7);
  border-top-left-radius: 20%;
  background: #ddfcec;
}

.header-second-column .shape1 .swiper-container {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

.header-second-column .shape1 .swiper-container img {
  width: 100%;
  height: 100%;
}

.header-second-column .shape2 {
  width: 200px;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 7%;
  background: #00984a;
  -webkit-transform: translate(-124%, 4%) skew(-25deg, 2deg);
          transform: translate(-124%, 4%) skew(-25deg, 2deg);
}

.header-second-column .shape3 {
  width: 140px;
  height: 100%;
  border-top-left-radius: 8%;
  background: #57d393;
  -webkit-transform: translate(39%, 31%) skew(0deg, 2deg);
          transform: translate(39%, 31%) skew(0deg, 2deg);
}

.header-second-column .shape4 {
  width: 250px;
  height: 100%;
  border-radius: 8%;
  background: #57d393;
  -webkit-transform: translate(38%, 30%) rotate(25deg) skew(0deg, -29deg);
          transform: translate(38%, 30%) rotate(25deg) skew(0deg, -29deg);
}

.quick-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.quick-cards .quick-card {
  width: 250px;
  height: 240px;
  margin: 0 10px;
  padding: 30px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.267);
          box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.267);
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.quick-cards .quick-card .icon {
  border: 1px solid;
  padding: 15px 18px;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -13%;
}

.quick-cards .quick-card .icon i {
  padding: 0;
}

.quick-cards .quick-card .title {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.quick-cards .quick-card .description {
  text-align: center;
  font-size: 14px;
  color: #363535;
}

.quick-cards .quick-card .link i {
  color: #00984a;
  padding: 2px 5px;
}

.covid-test-section .fix-bg {
  padding: 60px 40px;
  background: #ddfcec url("/bg-img.jpg") no-repeat;
  background-size: cover;
}

.covid-test-section .heading {
  text-align: center;
  font-weight: bold;
}

.covid-test-section .para {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.covid-test-section .floats-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.covid-test-section .floats-div .icon i {
  color: #00984a;
  background: white;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 3px;
}

.covid-test-section .floats-div .title {
  font-size: 14px;
  font-weight: bold;
}

.covid-test-section .floats-div .description {
  font-size: 14px;
  color: #424040;
  text-align: center;
}

.covid-test-section .float1,
.covid-test-section .float2 {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.covid-test-section .float3,
.covid-test-section .float4 {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.covid-test-section .float2,
.covid-test-section .float4 {
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.covid-test-section .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.covid-test-section .circle div {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  border: 20px solid white;
  background: url("/image/doctor-holding-injection-vaccine-YZ6V9RA.jpg") no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.covid-test-section .book-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-54%);
          transform: translateY(-54%);
}

.covid-test-section .book-card-container .shadow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: -1px 2px 8px rgba(44, 214, 143, 0.411);
          box-shadow: -1px 2px 8px rgba(44, 214, 143, 0.411);
}

.covid-test-section .book-card-container .book-card:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.covid-test-section .book-card-container .book-card:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.covid-test-section .book-card-container .book-card:last-child div {
  border-right: none;
}

.covid-test-section .book-card-container .book-card {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 20px 0;
  background: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.covid-test-section .book-card-container .book-card .card-item {
  border-right: 0.5px solid #8a898933;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.covid-test-section .book-card-container .book-card .card-item .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.covid-test-section .book-card-container .book-card .card-item .top .nos {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 30px;
  font-weight: bold;
  color: #00984a;
  padding: 0 10px 0 0;
  border-right: 0.5px solid #57d393;
}

.covid-test-section .book-card-container .book-card .card-item .top .title {
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  color: #000;
}

.covid-test-section .book-card-container .book-card .card-item .link {
  border: 1px solid #00984a;
  padding: 5px 20px;
  border-radius: 8px;
  background: #fff;
  color: #00984a;
}

.covid-test-section .book-card-container .book-card:hover {
  background: #00984a;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border-radius: 8px;
}

.covid-test-section .book-card-container .book-card:hover .top .title,
.covid-test-section .book-card-container .book-card:hover .top .nos {
  color: white;
  border-color: white;
}

.popular-test-section {
  padding: 60px 60px;
  position: relative;
  overflow: hidden;
}

.popular-test-section .slide-button-next,
.popular-test-section .slide-button-prev {
  position: absolute;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  font-size: 29px;
  padding: 0 5px;
  z-index: 3;
}

.popular-test-section .slide-button-next {
  right: 30px;
}

.popular-test-section .slide-button-prev {
  left: 30px;
}

.popular-test-section .slide-container {
  margin: 0 auto;
  width: 100%;
  min-height: 300px;
  padding: 30px 40px;
  overflow: hidden;
}

.popular-test-section .slide-container .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.popular-test-section .slide-container .swiper-slide {
  min-height: 280px;
}

.popular-test-section .slide-container .swiper-slide .inner-div {
  width: 100%;
  min-height: 280px;
  height: 100%;
  padding: 10px 30px;
  background: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 3px rgba(167, 161, 161, 0.26);
          box-shadow: 0px 2px 3px rgba(167, 161, 161, 0.26);
}

.popular-test-section .slide-container .swiper-slide .inner-div .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-test-section .slide-container .swiper-slide .inner-div .top .price {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  position: relative;
}

.popular-test-section .slide-container .swiper-slide .inner-div .top::before {
  content: "";
  position: absolute;
  width: 118%;
  height: 100%;
  left: -8%;
  top: -74%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: #00984a;
}

.popular-test-section .slide-container .swiper-slide .inner-div .mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-test-section .slide-container .swiper-slide .inner-div .mid .title {
  text-transform: capitalize;
  color: #00984a;
  font-size: 17px;
  font-weight: 500;
}

.popular-test-section .slide-container .swiper-slide .inner-div .mid .description {
  font-size: 14px;
  color: #424040;
  text-align: left;
}

.popular-test-section .slide-container .swiper-slide .inner-div .link {
  border: 1px solid #00984a;
  color: #00984a;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.popular-test-section .slide-container .swiper-slide .inner-div .link:hover {
  border: 1px solid transparent;
  background: #57d393;
  color: white;
}

.truehealth-section {
  padding: 60px 60px;
  position: relative;
  background: #ddfcec;
}

.truehealth-section .slider-button-next,
.truehealth-section .slider-button-prev {
  position: absolute;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  top: 50%;
  font-size: 29px;
  padding: 0 5px;
  z-index: 3;
}

.truehealth-section .slider-button-next {
  right: 25px;
}

.truehealth-section .slider-button-prev {
  left: 25px;
}

.truehealth-section .swiper-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  padding: 5px 0;
}

.truehealth-section .swiper-container .card {
  width: 260px;
  height: 480px;
  -webkit-box-shadow: -1px 1px 6px rgba(73, 71, 71, 0.185);
          box-shadow: -1px 1px 6px rgba(73, 71, 71, 0.185);
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.truehealth-section .swiper-container .card .img-box {
  width: 100%;
  height: 180px;
  background: gainsboro;
  overflow: hidden;
}

.truehealth-section .swiper-container .card .img-box img {
  height: 100%;
  width: auto;
}

.truehealth-section .swiper-container .card .content-div {
  width: 100%;
  padding: 0 15px;
  height: calc(100% - 180px);
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.truehealth-section .swiper-container .card .content-div .price {
  background: #0c6ac2;
  padding: 5px;
  color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  -webkit-transform: translate(-101px, -15px);
          transform: translate(-101px, -15px);
  -webkit-box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.274);
          box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.274);
}

.truehealth-section .swiper-container .card .content-div .title {
  font-weight: bold;
  font-size: 19px;
  color: #444141;
}

.truehealth-section .swiper-container .card .content-div .test-nos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.truehealth-section .swiper-container .card .content-div .test-nos .icon i {
  padding: 10px 15px 10px 0;
  font-size: 28px;
  color: #57d393;
}

.truehealth-section .swiper-container .card .content-div .test-nos .content .title {
  font-weight: normal;
  font-size: 14px;
  color: rgba(63, 60, 60, 0.774);
}

.truehealth-section .swiper-container .card .content-div .test-nos .content .nos {
  font-weight: normal;
  font-size: 14.5px;
  color: #0f0e0e;
}

.truehealth-section .swiper-container .card .content-div .age-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.truehealth-section .swiper-container .card .content-div .age-group .icon i {
  padding: 10px 15px 10px 0;
  font-size: 28px;
  color: #57d393;
}

.truehealth-section .swiper-container .card .content-div .age-group .title-box .title {
  font-weight: normal;
  font-size: 14px;
  color: rgba(63, 60, 60, 0.774);
}

.truehealth-section .swiper-container .card .content-div .age-group .title-box .desc {
  font-weight: normal;
  font-size: 14.5px;
  color: #1f1d1d;
}

.truehealth-section .swiper-container .card .content-div .link {
  border: 1px solid #00984a;
  color: #00984a;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.truehealth-section .swiper-container .card .content-div .link:hover {
  border: 1px solid transparent;
  background: #57d393;
  color: white;
}

.get-tested-section {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 10px;
}

.get-tested-section .row .link {
  font-size: 12px;
  padding: 10px 30px;
  background: #00984a;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
}

.get-tested-section .row .circle .inner-div {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get-tested-section .row .circle .inner-div h4 {
  color: #00984a;
  text-align: center;
}

.get-tested-section .row .circle .inner-div span {
  font-size: 14px;
  padding: 10px;
}

.get-tested-section .row .circle .inner-div span:nth-child(3) {
  width: 5px;
  height: 5px;
  padding: 0;
  border-radius: 50%;
  background-color: #57d393;
}

.get-tested-section .row .floats-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
}

.get-tested-section .row .floats-div .icon i {
  color: #57d393;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 10px;
}

.get-tested-section .row .floats-div .title {
  font-size: 14px;
  font-weight: bold;
}

.get-tested-section .row .floats-div .description {
  font-size: 14px;
  color: #424040;
  text-align: center;
}

.get-tested-section .row .left-floats .floats-div {
  margin-left: auto;
  text-align: right;
}

.get-tested-section .row .left-floats .float1 {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.get-tested-section .row .left-floats .float2 {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
}

.get-tested-section .row .left-floats .float3 {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.get-tested-section .row .right-floats .floats-div {
  margin-right: auto;
  text-align: left;
}

.get-tested-section .row .right-floats .float4 {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.get-tested-section .row .right-floats .float5 {
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
}

.get-tested-section .row .right-floats .float6 {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.more-question-about {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 60px;
}

.more-question-about .tabs-container {
  padding: 20px 10px;
}

.more-question-about .tabs-container .tab {
  border-left: 5px solid #cfc6c6;
  padding: 10px;
  margin: 0;
  overflow: hidden;
}

.more-question-about .tabs-container .tab .title {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-transform: capitalize;
}

.more-question-about .tabs-container .tab .desc {
  font-size: 14px;
  font-weight: 400;
  color: #383636;
}

.more-question-about .tabs-container .active-tab {
  border-left: 5px solid #00984a;
}

.more-question-about .tab-container {
  width: 100%;
  height: 100%;
  max-height: 500px;
  overflow: hidden;
}

.more-question-about .tab-container img {
  height: 100%;
  width: auto;
}

.more-question-about .tab-container:not(.active) {
  display: none;
}

.video-section .swiper-video {
  overflow: hidden;
  padding: 20px;
}

.video-section .swiper-video iframe {
  width: 100%;
  min-height: 240px;
  height: auto;
}

.swiper-blogs {
  overflow: hidden;
}

.swiper-blogs .card {
  height: 340px;
}

.faq-section {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 60px;
  margin: 20px auto;
}

.faq-section .accordion-container {
  -webkit-box-shadow: -1px 4px 10px #ddfcec;
          box-shadow: -1px 4px 10px #ddfcec;
}

.faq-section .accordion-container .accordion-button:not(.collapsed) {
  background: #ddfcec;
  color: #000;
}

.faq-section .accordion-container .collapsed {
  color: #00984a;
}

.faq-section .accordion-container .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 70px 50px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background: rgba(16, 110, 58, 0.205) url("footerbg.jpg") no-repeat center center;
  background-size: 130%;
  background-blend-mode: multiply;
}

footer .footer-row {
  padding: 10px 0 40px;
  border-bottom: 1px solid white;
}

footer .left-col .logo {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

footer .left-col .logo img {
  display: inline-block;
  min-width: 100px;
  width: auto;
  height: auto;
  max-height: 100px;
  background: rgba(121, 120, 120, 0);
}

footer .left-col .description {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: white;
  font-size: 15px;
}

footer .left-col .menu {
  width: 100%;
}

footer .left-col .menu ul li {
  text-transform: capitalize;
  font-weight: lighter;
}

footer .left-col .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 19px;
}

footer .left-col .contact .fas {
  font-size: 38px;
  padding-right: 20px;
}

footer .left-col .contact .number {
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 1px;
}

footer .left-col .contact .note {
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
  color: white;
}

footer .right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .right-col .map {
  width: 100%;
  height: 70%;
  background: #b3b3b3;
  border-radius: 10px;
}

footer .right-col .address .col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .right-col .address .col-6 .fas {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 12px;
  color: #05d46d;
  background: white;
  border-radius: 50%;
}

footer .right-col .address .col-6 .title {
  font-size: 13px;
  color: white;
}

footer .right-col .address .col-6 .location {
  font-size: 14px;
  font-weight: normal;
  color: white;
}

footer .right-col .address .col-6 .mail {
  font-size: 15px;
  font-weight: normal;
  color: white;
}

footer .footer-icon-container i {
  width: 40px;
  height: 40px;
  color: #00984a;
  background: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 576px) {
  .top-navbar {
    display: none !important;
  }
  .bottom-navbar {
    width: 100%;
    margin: 0 auto;
    padding: 5px 20px;
  }
  .bottom-navbar .sign-btn {
    display: none;
  }
  .bottom-navbar ul {
    margin: 0;
    padding: 0;
  }
  .bottom-navbar ul li {
    margin: 0;
    padding: 0;
  }
  .bottom-navbar ul .fa-search {
    display: none;
  }
  .toggle {
    display: block;
  }
  .navbar-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    border: 2px solid;
    background: #00984a;
    z-index: 4;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
  .navbar-menu li {
    font-size: 16px;
    font-weight: 500;
    color: white;
  }
  .navbar-menu li i {
    color: white;
    font-size: 12px;
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  .navbar-menu .active {
    color: #00984a;
  }
  .quick-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 100px;
  }
  .quick-cards .quick-card {
    margin: 30px 10px;
  }
  .covid-test-section .fix-bg {
    padding: 60px 10px;
  }
  .covid-test-section .para {
    width: 100%;
    word-break: break-all;
  }
  .covid-test-section .floats-div {
    width: 100px;
  }
  .covid-test-section .floats-div .title {
    font-size: 12px;
    text-align: center;
  }
  .covid-test-section .floats-div .description {
    font-size: 12px;
  }
  .covid-test-section .float1,
  .covid-test-section .float2 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .covid-test-section .float3,
  .covid-test-section .float4 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .covid-test-section .float2,
  .covid-test-section .float4 {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  .covid-test-section .circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .covid-test-section .circle div {
    width: 200px;
    height: 200px;
    margin-top: 80px;
    border: 15px solid white;
  }
  .covid-test-section .book-card-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    overflow-x: scroll;
    -webkit-transform: translateY(-14%);
            transform: translateY(-14%);
  }
  .covid-test-section .book-card-container .book-card .card-item .top {
    padding: 0 10px;
  }
  .covid-test-section .book-card-container .book-card .card-item .top .nos {
    font-size: 24px;
  }
  .covid-test-section .book-card-container .book-card .card-item .top .title {
    font-size: 13px;
  }
  .covid-test-section .book-card-container .book-card .card-item .link {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .covid-test-section .book-card-container .book-card:hover {
    -webkit-transform: scale(1.09);
            transform: scale(1.09);
  }
}
/*# sourceMappingURL=style.css.map */