* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1280px;
  margin: 0 auto;
}

$theme-dark: rgb(0, 152, 74);
$theme-light: rgb(87, 211, 147);
$theme-x-light: rgb(221, 252, 236);
$theme-white: rgb(255, 255, 255);

.bg-theme-dark {
  background: $theme-dark;
}
.bg-theme-light {
  background: $theme-light;
}
.bg-theme-x-light {
  background: $theme-x-light;
}
.text-theme-dark {
  color: $theme-dark;
}
.text-theme-light {
  color: $theme-light;
}
.text-theme-x-light {
  color: $theme-x-light;
}

.border-right {
  border-right: 1px solid #ffffff;
}
.border-left {
  border-left: 1px solid #ffffff;
}
a {
  text-decoration: none;
  color: black;
}
.top-navbar {
  //   background: $theme-dark;
  padding: 4px;
  height: fit-content;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;

    li {
      display: inline;
      margin: 0 5px;
      padding: 4px;
      font-size: 14px;
      color: rgb(255, 255, 255);
      i {
        padding: 0 2px;
      }
    }
  }
}
.bottom-navbar {
  background: transparent;
  padding: 4px;
  height: fit-content;
  width: 80%;
  margin: 20px auto 0;

  .brand-logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $theme-x-light;
  }
  .navbar-menu {
    li {
      font-size: 14px;
      font-weight: 500;
      color: rgb(90, 88, 88);

      i {
        color: rgb(90, 88, 88);
        font-size: 12px;
        transform: translate(2px, 1px);
      }
    }
    .active {
      color: $theme-dark;
    }
  }
  ul {
    display: flex;
    align-items: center;
    li {
      display: inline;
      margin: 0 10px;
      padding: 0 2px;
    }
    .fa-search {
      padding: 13px;
      margin-right: 10px;
      border-radius: 50%;
      box-shadow: 2px 2px 6px #3a39399f;
    }
    .sign-btn {
      font-size: 14px;
      width: 150px;
      // padding: 5px 20px !important;
    }
  }
}

.landing-form {
  border-radius: 15px;
  box-shadow: -1px 2px 6px rgba(128, 128, 128, 0.493);
  input {
    border-radius: 7px;
  }
  input:focus {
    box-shadow: none;
  }
  input::placeholder {
    font-size: 14px;
  }
  label {
    font-size: 14px;
    padding: 2px 10px;
  }
}

.header-second-column {
  overflow: hidden;
  background: rgba(7, 7, 7, 0);
  position: relative;

  .shape1 {
    width: 40%;
    height: 130%;
    transform: translate(128%, -10%) skew(-25deg, 10deg) scaleX(1.7);
    border-top-left-radius: 20%;
    background: $theme-x-light;
    //  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }

  .shape2 {
    width: 200px;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 7%;
    background: $theme-dark;
    transform: translate(-124%, 4%) skew(-25deg, 2deg);
  }
  .shape3 {
    width: 140px;
    height: 100%;
    border-top-left-radius: 8%;
    background: $theme-light;
    transform: translate(39%, 31%) skew(0deg, 2deg);
  }
  .shape4 {
    width: 250px;
    height: 100%;
    border-radius: 8%;
    background: $theme-light;
    transform: translate(38%, 30%) rotate(25deg) skew(0deg, -29deg);
  }
}

.quick-cards {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  .quick-card {
    width: 250px;
    height: 240px;
    margin: 0 10px;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.267);
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;

    .icon {
      border: 1px solid;
      padding: 15px 18px;
      border-radius: 50%;
      color: white;
      position: absolute;
      top: -13%;
      i {
        padding: 0;
      }
    }
    .title {
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 1.5px;
      text-transform: capitalize;
    }
    .description {
      text-align: center;
      font-size: 14px;
      color: rgb(54, 53, 53);
    }
    .link {
      i {
        color: $theme-dark;
        padding: 2px 5px;
      }
    }
  }
}

// covid test

.covid-test-section {
  .fix-bg {
    padding: 60px 40px;
    background: $theme-x-light url("/bg-img.jpg") no-repeat;
    background-size: cover;
  }
  .heading {
    text-align: center;
  }
  .para {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }

  .floats-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: fit-content;

    .icon {
      i {
        color: $theme-dark;
        background: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 3px;
      }
    }
    .title {
      font-size: 14px;
      font-weight: bold;
    }
    .description {
      font-size: 14px;
      color: rgb(66, 64, 64);
      text-align: center;
    }
  }
  .float1,
  .float2 {
    transform: translateX(30%);
  }
  .float3,
  .float4 {
    transform: translateX(-30%);
  }
  .float2,
  .float4 {
    transform: translateY(30%);
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    div {
      width: 300px;
      height: 300px;
      margin-top: 30px;
      border: 20px solid rgb(255, 255, 255);
      background: $theme-light;
      border-radius: 50%;
    }
  }

  .book-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-54%);
    .shadow-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: fit-content;
      box-shadow: -1px 2px 8px rgba(44, 214, 143, 0.411);
    }
    .book-card:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .book-card:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      div {
        border-right: none;
      }
    }
    .book-card {
      width: 200px;
      height: 200px;
      margin: 0;
      padding: 20px 0;
      background: rgb(255, 255, 255);
      transition: all 0.3s ease;
      .card-item {
        border-right: 0.5px solid #8a898933;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .top {
          display: flex;
          justify-content: space-between;
          padding: 0 20px;
          .nos {
            height: fit-content;
            font-size: 30px;
            font-weight: bold;
            color: $theme-dark;
            padding: 0 10px 0 0;
            border-right: 0.5px solid $theme-light;
          }
          .title {
            font-size: 14px;
            font-weight: 500;
            padding-left: 10px;
            color: #000;
          }
        }
        .link {
          border: 1px solid $theme-dark;
          padding: 5px 20px;
          border-radius: 8px;
          background: #fff;
          color: $theme-dark;
        }
      }
    }

    .book-card:hover {
      background: $theme-dark;
      transform: scale(1.1);
      border-radius: 8px;
      .top {
        .title,
        .nos {
          color: white;
          border-color: white;
        }
      }
    }
  }
}

// popular test

.popular-test-section {
  padding: 60px 60px;
  position: relative;

  .slide-button-next,
  .slide-button-prev {
    position: absolute;
    display: inline-block;
    width: fit-content;
    background: $theme-light;
    top: 50%;
    font-size: 29px;
    padding: 0 5px;
    z-index: 3;
  }
  .slide-button-next {
    right: 30px;
  }
  .slide-button-prev {
    left: 30px;
  }
  .slide-container {
    margin: 0 auto;
    width: 100%;
    min-height: 300px;
    padding: 30px 40px;
    overflow: hidden;
    .swiper-wrapper {
      display: flex;
      align-items: center;
      margin: auto;
    }
    .swiper-slide {
      min-height: 280px;

      .inner-div {
        width: 100%;
        min-height: 280px;
        height: 100%;
        padding: 10px 30px;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 2px 3px rgba(167, 161, 161, 0.26);

        .top {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .price {
            font-size: 22px;
            font-weight: 600;
            color: #ffffff;
            position: relative;
          }
        }
        .top::before {
          content: "";
          position: absolute;
          width: 118%;
          height: 100%;
          left: -8%;
          top: -74%;
          border-bottom-left-radius: 50%;
          border-bottom-right-radius: 50%;
          background: $theme-dark;
        }
        .mid {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .title {
            text-transform: capitalize;
            color: $theme-dark;
            font-size: 17px;
            font-weight: 500;
          }
          .description {
            font-size: 14px;
            color: rgb(66, 64, 64);
            text-align: justify;
          }
        }
        .link {
          border: 1px solid $theme-dark;
          color: $theme-dark;
          transition: all 0.2s ease;
        }
        .link:hover {
          border: 1px solid transparent;
          background: $theme-light;
          color: white;
        }
      }
    }
  }
}

.truehealth-section {
  padding: 60px 60px;
  position: relative;
  background: $theme-x-light;

  .slider-button-next,
  .slider-button-prev {
    position: absolute;
    display: inline-block;
    width: fit-content;
    background: $theme-light;
    top: 50%;
    font-size: 29px;
    padding: 0 5px;
    z-index: 3;
  }
  .slider-button-next {
    right: 25px;
  }
  .slider-button-prev {
    left: 25px;
  }

  .swiper-container {
    width: 100%;
    height: fit-content;
    padding: 5px 0;
    .card {
      width: 260px;
      height: 480px;
      box-shadow: -1px 1px 6px rgba(73, 71, 71, 0.185);
      // filter: drop-shadow();
      border: none;
      border-radius: 10px;
      overflow: hidden;

      .img-box {
        width: 100%;
        height: 180px;
        background: gainsboro;
      }
      .content-div {
        width: 100%;
        padding: 0 15px;
        height: calc(100% - 180px);
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .price {
          // border: 2px solid;
          background: rgb(12, 106, 194);
          padding: 5px;
          color: white;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          font-size: 18px;
          font-weight: 500;
          transform: translate(-101px, -15px);
          box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.274);
        }
        .title {
          font-weight: bold;
          font-size: 19px;
          color: rgb(68, 65, 65);
        }
        .test-nos {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          .icon {
            i {
              padding: 10px 15px 10px 0;
              font-size: 28px;
              color: $theme-light;
            }
          }
          .content {
            .title {
              font-weight: normal;
              font-size: 14px;
              color: rgba(63, 60, 60, 0.774);
            }
            .nos {
              font-weight: normal;
              font-size: 14.5px;
              color: rgb(15, 14, 14);
            }
          }
        }

        .age-group {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          .icon {
            i {
              padding: 10px 15px 10px 0;
              font-size: 28px;
              color: $theme-light;
            }
          }
          .title-box {
            .title {
              font-weight: normal;
              font-size: 14px;
              color: rgba(63, 60, 60, 0.774);
            }
            .desc {
              font-weight: normal;
              font-size: 14.5px;
              color: rgb(31, 29, 29);
            }
          }
        }
        .link {
          border: 1px solid $theme-dark;
          color: $theme-dark;
          transition: all 0.2s ease;
        }
        .link:hover {
          border: 1px solid transparent;
          background: $theme-light;
          color: white;
        }
      }
    }
  }
}

.get-tested-section {
  width: 100%;
  height: fit-content;
  padding: 50px 10px;

  .row {
    .link {
      font-size: 12px;
      padding: 10px 30px;
      background: $theme-dark;
      color: #fff;
      font-weight: 500;
      border-radius: 4px;
    }
    .circle {
      .inner-div {
        width: 300px;
        height: 300px;
        // border: 10px solid $theme-light;
        border-radius: 50%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 {
          color: $theme-dark;
          text-align: center;
        }
        span {
          font-size: 14px;
          padding: 10px;
        }
        span:nth-child(3) {
          width: 5px;
          height: 5px;
          padding: 0;
          border-radius: 50%;
          background-color: $theme-light;
        }
      }
    }
    .floats-div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      width: 300px;
      height: fit-content;
      padding: 20px;

      .icon {
        i {
          color: $theme-light;
          background: #fff;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
          padding: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin: 10px;
        }
      }
      .title {
        font-size: 14px;
        font-weight: bold;
      }
      .description {
        font-size: 14px;
        color: rgb(66, 64, 64);
        text-align: center;
      }
    }
    .left-floats {
      .floats-div {
        margin-left: auto;
        text-align: right;
      }
      .float1 {
        transform: translateX(30%);
      }
      .float2 {
        transform: translateX(10%);
      }
      .float3 {
        transform: translateX(30%);
      }
      // .float2,
      // .float4 {
      //   transform: translateY(30%);
      // }
    }
    .right-floats {
      .floats-div {
        margin-right: auto;
        text-align: left;
      }
      .float4 {
        transform: translateX(-30%);
      }
      .float5 {
        transform: translateX(-10%);
      }
      .float6 {
        transform: translateX(-30%);
      }
    }
  }
}

.more-question-about {
  width: 100%;
  height: fit-content;
  padding: 60px;

  .tabs-container {
    padding: 20px 10px;

    .tab {
      border-left: 5px solid rgb(207, 198, 198);
      padding: 10px;
      margin: 0;
      overflow: hidden;

      .title {
        font-size: 14px;
        font-weight: 500;
        color: #000;
        text-transform: capitalize;
      }
      .desc {
        font-size: 14px;
        font-weight: 400;
        color: rgb(56, 54, 54);
      }
    }
    .active-tab {
      border-left: 5px solid $theme-dark;
    }
  }
}

.faq-section {
  width: 100%;
  height: fit-content;
  padding: 60px;
  margin: 20px auto;

  .accordion-container {
    box-shadow: -1px 4px 10px $theme-x-light;

    .accordion-button:not(.collapsed) {
      background: $theme-x-light;
      color: #000;
    }
    .collapsed {
      color: $theme-dark;
    }
    .accordion-button:focus {
      box-shadow: none;
    }
  }
}
