* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$theme-dark: rgb(0, 152, 74);
$theme-light: rgb(87, 211, 147);
$theme-x-light: rgb(221, 252, 236);
$theme-white: rgb(255, 255, 255);

@font-face {
  font-family: "poppins-bold";
  src: url("fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins";
  src: url("fonts/Poppins/Poppins-Light.ttf");
}
body {
  font-family: "poppins";
}

.bg-theme-dark {
  background: $theme-dark;
}
.bg-theme-light {
  background: $theme-light;
}
.bg-theme-x-light {
  background: $theme-x-light;
}
.text-theme-dark {
  color: $theme-dark;
}
.text-theme-light {
  color: $theme-light;
}
.text-theme-x-light {
  color: $theme-x-light;
}

.border-right {
  border-right: 1px solid #ffffff;
}
.border-left {
  border-left: 1px solid #ffffff;
}
a {
  text-decoration: none;
  color: black;
}
.top-navbar {
  //   background: $theme-dark;
  padding: 8px 4px;
  height: fit-content;

  .brand-logo {
    width: 80px;
    height: 40px;
    // border-radius: 50%;
    background: $theme-x-light;
  }

  #search {
    width: 300px;
  }
  #search::placeholder {
    font-family: "poppins";
    font-weight: lighter;
    font-size: 12px;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;

    li {
      display: inline;
      margin: 0 5px;
      padding: 4px;
      font-size: 14px;
      color: rgb(255, 255, 255);
      i {
        padding: 0 2px;
      }
    }
  }
}
.bottom-navbar {
  background: transparent;
  padding: 4px;
  height: fit-content;
  border-bottom: 0.5px solid rgba(56, 56, 56, 0.267);
  // width: 80%;
  margin: 0 auto 10px;

  // .brand-logo {
  //   width: 80px;
  //   height: 80px;
  //   border-radius: 50%;
  //   background: $theme-x-light;
  // }
  .navbar-menu {
    margin: 0;
    li,
    a {
      font-size: 12px;
      font-weight: bold;
      color: rgb(43, 42, 42);
      letter-spacing: 0.75px;
      padding: 2px;
      cursor: pointer;
      transition: all 0.2s ease;

      i {
        color: rgb(53, 52, 52);
        // font-size: 12px;
        transform: translate(2px, 1px);
      }
    }
    li:hover {
      text-decoration: underline;
    }
    .active {
      color: $theme-dark;
    }
  }
  ul {
    display: flex;
    align-items: center;
    li {
      display: inline;
      margin: 0 10px;
      padding: 0 2px;
    }
    .fa-search {
      padding: 13px;
      margin-right: 10px;
      border-radius: 50%;
      box-shadow: 2px 2px 6px #3a39399f;
    }
    .sign-btn {
      font-size: 12px;
      width: 150px;
      // padding: 5px 20px !important;
    }
  }
}

.landing-form {
  border-radius: 15px;
  box-shadow: -1px 2px 6px rgba(128, 128, 128, 0.493);
  padding: 40px 30px;
  width: 80%;

  .form-title {
    font-weight: bold;
    padding-bottom: 10px;
  }
  input {
    border-radius: 7px;
  }
  input:focus {
    box-shadow: none;
  }
  input::placeholder {
    font-size: 14px;
  }
  label {
    font-size: 14px;
    padding: 2px 10px;
  }
}
.main-heading {
  font-weight: 900;
  font-size: 36px;
  font-family: "poppins-bold";

  // text-align: center;
}

.header-second-column {
  overflow: hidden;
  position: relative;
  // background: url("image/shape.jpg");

  .shape {
    // position: absolute;
  }
  .shape1 {
    width: 53%;
    height: 130%;
    transform: translate(58%, -9%) scaleX(1.7);
    border-top-left-radius: 20%;
    background: #ddfcec;
    clip-path: polygon(31% 0, 100% 0, 100% 100%, 0% 100%);
    .home-slider {
      width: 100% !important;
      height: 100% !important;

      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .shape2 {
    width: 237px;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 7%;
    background: #00984a;
    transform: translate(-195%, 0%) skew(-14deg, 0deg);
  }
  .shape3 {
    width: 140px;
    height: 100%;
    border-top-left-radius: 8%;
    background: $theme-light;
    transform: translate(39%, 31%) skew(0deg, 2deg);
  }

  .shape4 {
    width: 242px;
    height: 100%;
    border-radius: 8%;
    background: #57d393;
    transform: translate(40%, 30%) rotate(12deg) skew(0deg, -29deg);
  }
}

.quick-cards {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  .quick-card {
    width: 250px;
    height: 240px;
    margin: 0 10px;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.267);
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: all 0.3s ease;

    .icon {
      border: 1px solid;
      padding: 15px 18px;
      border-radius: 50%;
      color: white;
      position: absolute;
      top: -13%;
      i {
        padding: 0;
      }
    }
    .title {
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 1.5px;
      text-transform: capitalize;
    }
    .description {
      text-align: center;
      font-size: 14px;
      color: rgb(54, 53, 53);
    }
    .link {
      i {
        color: $theme-dark;
        padding: 2px 5px;
      }
    }
  }
  .quick-card:hover {
    transform: scale(1.03);
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.267);
  }
}

// covid test

.covid-test-section {
  .fix-bg {
    padding: 60px 40px;
    background: $theme-x-light url("bg-img.jpg") no-repeat;
    background-size: cover;
  }
  .heading {
    text-align: center;
    font-weight: bold;
  }
  .para {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }

  .floats-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: fit-content;

    .icon {
      i {
        color: $theme-dark;
        background: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 3px;
      }
      i:hover {
        cursor: pointer;
      }
    }

    .title {
      font-size: 14px;
      font-weight: bold;
    }
    .description {
      font-size: 14px;
      color: rgb(66, 64, 64);
      text-align: center;
    }
  }
  .float1,
  .float2 {
    transform: translateX(30%);
  }
  .float3,
  .float4 {
    transform: translateX(-30%);
  }
  .float2,
  .float4 {
    transform: translateY(30%);
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    div {
      width: 300px;
      height: 300px;
      margin-top: 30px;
      border: 20px solid rgb(255, 255, 255);
      background: url("image/doctor-holding-injection-vaccine-YZ6V9RA.jpg")
        no-repeat;
      background-size: cover;
      border-radius: 50%;
    }
  }

  .book-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-54%);
    .shadow-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      height: fit-content;
      box-shadow: -1px 2px 8px rgba(44, 214, 143, 0.411);
    }
    .book-card:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .book-card:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      div {
        border-right: none;
      }
    }
    .book-card {
      width: 200px;
      height: 200px;
      margin: 0;
      padding: 20px 0;
      background: rgb(255, 255, 255);
      transition: all 0.3s ease;
      .card-item {
        border-right: 0.5px solid #8a898933;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        .top {
          display: flex;
          justify-content: space-between;
          padding: 0 20px;
          .nos {
            height: fit-content;
            font-size: 30px;
            font-weight: bold;
            color: $theme-dark;
            padding: 0 10px 0 0;
            border-right: 0.5px solid $theme-light;
          }
          .title {
            font-size: 14px;
            font-weight: 500;
            padding-left: 10px;
            color: #000;
          }
        }
        .link {
          border: 1px solid $theme-dark;
          padding: 5px 20px;
          border-radius: 8px;
          background: #fff;
          color: $theme-dark;
        }
      }
    }

    .book-card:hover {
      background: $theme-dark;
      transform: scale(1.1);
      border-radius: 8px;
      .top {
        .title,
        .nos {
          color: white;
          border-color: white;
        }
      }
    }
  }
}

// popular test

.popular-test-section {
  padding: 60px 60px;
  position: relative;
  overflow: hidden;

  .slide-button-next,
  .slide-button-prev {
    position: absolute;
    display: inline-block;
    width: fit-content;
    // background: $theme-light;
    // color: #3a39399f;
    top: 50%;
    font-size: 29px;
    padding: 0 5px;
    z-index: 3;
  }
  .slide-button-next {
    right: 30px;
  }
  .slide-button-prev {
    left: 30px;
  }
  .slide-container {
    margin: 0 auto;
    width: 100%;
    min-height: 300px;
    padding: 30px 40px;
    overflow: hidden;
    .swiper-wrapper {
      display: flex;
      align-items: center;
      margin: auto;
    }
    .swiper-slide {
      min-height: 280px;

      .inner-div {
        width: 100%;
        min-height: 280px;
        height: 100%;
        padding: 10px 30px;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 2px 3px rgba(167, 161, 161, 0.26);

        .top {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .price {
            font-size: 22px;
            font-weight: 600;
            color: #ffffff;
            position: relative;
          }
        }
        .top::before {
          content: "";
          position: absolute;
          width: 118%;
          height: 100%;
          left: -8%;
          top: -74%;
          border-bottom-left-radius: 50%;
          border-bottom-right-radius: 50%;
          background: $theme-dark;
        }
        .mid {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .title {
            text-transform: capitalize;
            color: $theme-dark;
            font-size: 17px;
            font-weight: 500;
          }
          .description {
            font-size: 14px;
            color: rgb(66, 64, 64);
            text-align: left;
          }
        }
        .link {
          border: 1px solid $theme-dark;
          color: $theme-dark;
          transition: all 0.2s ease;
        }
        .link:hover {
          border: 1px solid transparent;
          background: $theme-dark;
          color: white;
        }
      }
    }
  }
}

.truehealth-section {
  padding: 60px 60px;
  position: relative;
  background: $theme-x-light;

  .slider-button-next,
  .slider-button-prev {
    position: absolute;
    display: inline-block;
    width: fit-content;
    // background: $theme-light;
    border: none;
    top: 50%;
    font-size: 29px;
    padding: 0 5px;
    z-index: 3;
  }
  .slider-button-next {
    right: 25px;
  }
  .slider-button-prev {
    left: 25px;
  }

  .swiper-container {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    padding: 5px 0;
    .card {
      width: 260px;
      height: 480px;
      box-shadow: -1px 1px 6px rgba(73, 71, 71, 0.185);
      // filter: drop-shadow();
      border: none;
      border-radius: 10px;
      overflow: hidden;

      .img-box {
        width: 100%;
        height: 180px;
        background: gainsboro;
        overflow: hidden;

        img {
          height: 100%;
          width: auto;
        }
      }
      .content-div {
        width: 100%;
        padding: 0 15px;
        height: calc(100% - 180px);
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .price {
          // border: 2px solid;
          background: rgb(12, 106, 194);
          padding: 5px;
          color: white;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          font-size: 18px;
          font-weight: 500;
          transform: translate(-101px, -15px);
          box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.274);
        }
        .title {
          font-weight: bold;
          font-size: 19px;
          color: rgb(68, 65, 65);
        }
        .test-nos {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          .icon {
            i {
              padding: 10px 15px 10px 0;
              font-size: 26px;
              color: $theme-light;
            }
          }
          .content {
            .title {
              font-weight: normal;
              font-size: 14px;
              color: rgba(63, 60, 60, 0.774);
            }
            .nos {
              font-weight: normal;
              font-size: 14.5px;
              color: rgb(15, 14, 14);
            }
          }
        }

        .age-group {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          .icon {
            i {
              padding: 10px 15px 10px 0;
              font-size: 28px;
              color: $theme-light;
            }
            img {
              width: 30px;
              height: auto;
              padding: 5px 8px 5px 0;
            }
          }
          .title-box {
            .title {
              font-weight: normal;
              font-size: 14px;
              color: rgba(63, 60, 60, 0.774);
            }
            .desc {
              font-weight: normal;
              font-size: 14.5px;
              color: rgb(31, 29, 29);
            }
          }
        }
        .link {
          border: 1px solid $theme-dark;
          color: $theme-dark;
          transition: all 0.2s ease;
        }
        .link:hover {
          border: 1px solid transparent;
          background: $theme-dark;
          color: white;
        }
      }
    }
  }
}

.get-tested-section {
  width: 100%;
  height: fit-content;
  padding: 50px 10px;

  .row {
    .link {
      font-size: 12px;
      padding: 10px 30px;
      background: $theme-dark;
      color: #fff;
      font-weight: 500;
      border-radius: 4px;
    }
    .circle {
      .inner-div {
        width: 300px;
        height: 300px;
        // border: 10px solid $theme-light;
        border-radius: 50%;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 {
          color: $theme-dark;
          text-align: center;
        }
        span {
          font-size: 14px;
          padding: 10px;
        }
        span:nth-child(3) {
          width: 5px;
          height: 5px;
          padding: 0;
          border-radius: 50%;
          background-color: $theme-light;
        }
      }
    }
    .floats-div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      width: 300px;
      height: fit-content;
      padding: 20px;

      .icon {
        i {
          color: $theme-light;
          background: #fff;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
          padding: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          margin: 10px;
        }
      }
      .title {
        font-size: 14px;
        font-weight: bold;
      }
      .description {
        font-size: 14px;
        color: rgb(66, 64, 64);
        text-align: center;
      }
    }
    .left-floats {
      .floats-div {
        margin-left: auto;
        text-align: right;
      }
      .float1 {
        transform: translateX(30%);
      }
      .float2 {
        transform: translateX(10%);
      }
      .float3 {
        transform: translateX(30%);
      }
      // .float2,
      // .float4 {
      //   transform: translateY(30%);
      // }
    }
    .right-floats {
      .floats-div {
        margin-right: auto;
        text-align: left;
      }
      .float4 {
        transform: translateX(-30%);
      }
      .float5 {
        transform: translateX(-10%);
      }
      .float6 {
        transform: translateX(-30%);
      }
    }
  }
}

// human organs
.body-svg {
  .tests-container {
    img {
      width: 40px;
      height: auto;
      margin-left: 10px;
    }
  }

  .table {
    tr {
      border-bottom: 1px solid rgba(59, 59, 59, 0.116);
      margin: 3px;
    }
    tr:last-child {
      border-bottom: none;
    }
    td {
      border: none;
    }
    .btn {
      color: $theme-dark;
    }
  }
}

.female-body {
  max-width: none;
  margin-left: -31px !important;
  height: 565px !important;
}

.full-body {
  display: flex;
  justify-content: center;
  background: #fff;
  border: 1px solid #e6eaee;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 20px 0 0;
  .set-organs {
    position: relative;
    width: 179px;
    height: 565px;
  }

  .organ-tooltip {
    cursor: pointer;
    position: absolute;
    display: none;
    will-change: transform;
    top: -10px;
    left: 0;
  }
  .organ:hover .organ-tooltip {
    display: block;
  }
  .organ:hover img {
    opacity: 0.9;
    cursor: pointer;
  }
  .showSingle {
    position: relative;
  }
  .organ-tooltip-inner {
    background: rgba(255, 255, 255, 0.746);
    width: 100%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #00984a;
    text-transform: capitalize;
    max-width: 165px;
    height: max-content;
    text-align: left;
  }
  .organ-tooltip .arrow::before {
    border-right-color: rgba(256, 256, 256, 0.746);
  }
  .heart-set {
    position: absolute;
    top: 130px;
    left: 73px;
    z-index: 11;
  }
  .heart-set .organ-tooltip {
    left: 40px !important;
  }
  #details_heart {
    position: relative;
  }
  #details_heart::before {
    content: "";
    background: url(https://metropolisindia.com/newdata/images/line.svg)
      no-repeat;
    width: 100%;
    height: 200px;
    top: 25%;
    left: -70%;
    position: absolute;
    display: none;
  }
  .body-part-test {
    display: flex;
    justify-content: space-between;
  }
  .organ img {
    opacity: 0.5;
    cursor: pointer;
  }
  .organ img.clicked {
    opacity: 1;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  .organ img:hover {
    opacity: 1;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
  .liver-set {
    position: absolute;
    top: 177.46px;
    left: 48.49px;
    z-index: 10;
  }
  .liver-set .organ-tooltip {
    left: 65px;
  }
  .brain-set {
    position: absolute;
    top: 6px;
    left: 66px;
    z-index: 10;
  }
  .brain-set .organ-tooltip {
    left: 50px;
  }
  .lungs-set {
    position: absolute;
    top: 100px;
    left: 42px;
    z-index: 10;
  }
  .lungs-set .organ-tooltip {
    left: 90px !important;
  }
  .stomach-set {
    position: absolute;
    top: 184px;
    left: 78px;
    z-index: 10;
  }
  .stomach-set .organ-tooltip {
    left: 60px !important;
  }
  .intestines-set {
    position: absolute;
    top: 215px;
    left: 47px;
    z-index: 10;
  }
  .intestines-set .organ-tooltip {
    left: 90px !important;
  }
  .kidney-set {
    position: absolute;
    top: 215px;
    left: 57px;
    z-index: 10;
  }
  .kidney-set .organ-tooltip {
    left: 70px !important;
  }
  .pancreas-set {
    position: absolute;
    top: 215px;
    left: 80px;
    z-index: 10;
  }
  .pancreas-set .organ-tooltip {
    left: 30px !important;
  }
  .thyroid-set {
    position: absolute;
    top: 70px;
    left: 77px;
    z-index: 10;
  }
  .thyroid-set .organ-tooltip {
    left: 30px !important;
  }
  .male_reproductive_system-set {
    position: absolute;
    top: 245px;
    left: 71px;
    z-index: 10;
  }
  .male_reproductive_system-set .organ-tooltip {
    left: 40px !important;
  }

  .female_reproductive_system-set {
    position: absolute;
    top: 255px;
    left: 61px;
    z-index: 10;
  }
  .female_reproductive_system-set .organ-tooltip {
    left: 60px !important;
  }
  .clicked img,
  .heart-set img {
    opacity: 1;
  }
  @keyframes pulse {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    to {
      transform: scale(1);
    }
  }
  .fe-pulse {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
}

.more-question-about {
  width: 100%;
  height: fit-content;
  padding: 60px;

  .tabs-container {
    padding: 20px 10px;

    .tab {
      border-left: 5px solid rgb(207, 198, 198);
      padding: 10px;
      margin: 0;
      overflow: hidden;
      transition: all 0.3s ease;

      .title {
        font-size: 14px;
        font-weight: 500;
        color: #000;
        text-transform: capitalize;
      }
      .desc {
        font-size: 14px;
        font-weight: 400;
        color: rgb(56, 54, 54);
      }
    }
    .active-tab {
      border-left: 5px solid $theme-dark;
    }
  }
  .tab-container {
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow: hidden;
    transition: all 0.6s ease;
    // display: none;
    img {
      height: 100%;
      width: auto;
    }
  }
  .tab-container:not(.active) {
    display: none;
  }
}

.mobile-app-section {
  background: $theme-x-light url("bg-img.jpg") no-repeat;
  background-size: cover;
}

.video-section {
  .swiper-video {
    overflow: hidden;
    padding: 20px;
    position: relative;
    iframe {
      width: 100%;
      min-height: 240px;
      height: auto;
    }
    .video-button-next,
    .video-button-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .video-button-next {
      right: -2px;
    }
    .video-button-prev {
      left: -2px;
    }
  }
}
.blogs {
  position: relative;
}
.swiper-blogs {
  overflow: hidden;
  .blogs-button-next,
  .blogs-button-prev {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
  }
  .blogs-button-next {
    right: 20px;
  }
  .blogs-button-prev {
    left: 20px;
  }
  .card {
    height: 340px;
  }
}

.testimonials {
  overflow: hidden;
  position: relative;
  background: $theme-x-light;
  padding: 30px 0 50px;

  .testimonial-swiper {
    padding: 20px 0 70px;
    overflow: hidden;

    .content-card {
      // border: 2px solid;
      background: white;
      padding: 10px;
      position: relative;
      .quote-sign {
        text-align: center;
        span {
          font-size: 30px;
          opacity: 0.7;
        }
      }
      .desc {
        font-size: 15px;
        margin: 30px 0 40px;
        padding: 10px 5px;
      }
      .profile {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -70px;
        .img {
          width: 60px;
          height: 60px;
          overflow: hidden;
          // border: 2px solid;
          border-radius: 50%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .name {
          font-weight: bold;
        }
        .prof {
          font-size: 15px;
        }
      }
    }
  }

  .testimonial-button-next,
  .testimonial-button-prev {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
  }
  .testimonial-button-next {
    right: 20px;
  }
  .testimonial-button-prev {
    left: 20px;
  }
}

.faq-section {
  width: 100%;
  height: fit-content;
  padding: 60px;
  margin: 20px auto;

  .accordion-container {
    box-shadow: -1px 4px 10px $theme-x-light;

    .accordion-button:not(.collapsed) {
      background: $theme-x-light;
      color: #000;
    }
    .collapsed {
      color: $theme-dark;
    }
    .accordion-button:focus {
      box-shadow: none;
    }
  }
}
footer {
  width: 100%;
  height: fit-content;
  padding: 70px 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background: rgba(16, 110, 58, 0.205) url("footerbg.jpg") no-repeat center
    center;
  background-size: 130%;
  background-blend-mode: multiply;
  .footer-row {
    padding: 10px 0 40px;
    border-bottom: 1px solid white;
  }
  .left-col {
    .logo {
      width: 100%;
      height: fit-content;
      img {
        display: inline-block;
        min-width: 100px;
        width: auto;
        height: auto;
        max-height: 100px;
        background: rgba(121, 120, 120, 0);
      }
    }
    .description {
      width: 100%;
      height: fit-content;
      color: rgb(255, 255, 255);
      font-size: 15px;
      // font-weight: 400;
    }
    .menu {
      width: 100%;
      ul {
        li {
          text-transform: capitalize;
          font-weight: lighter;
        }
      }
    }
    .contact {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: white;
      font-size: 19px;
      .fas {
        font-size: 38px;
        padding-right: 20px;
      }
      .number {
        font-weight: bold;
        font-size: 23px;
        letter-spacing: 1px;
      }
      .note {
        font-size: 14px;
        font-weight: 400;
        padding: 5px;
        color: rgb(255, 255, 255);
      }
    }
  }
  .right-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .map {
      width: 100%;
      height: 70%;
      background: rgb(179, 179, 179);
      border-radius: 10px;
    }
    .address {
      .col-6 {
        display: flex;

        .fas {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px 12px;
          color: rgb(5, 212, 109);
          background: white;
          border-radius: 50%;
        }
        .title {
          font-size: 13px;
          color: rgb(255, 255, 255);
        }
        .location {
          font-size: 14px;
          font-weight: normal;
          color: white;
        }
        .mail {
          font-size: 15px;
          font-weight: normal;
          color: white;
        }
      }
    }
  }
  .footer-icon-container {
    i {
      width: 40px;
      height: 40px;
      color: $theme-dark;
      background: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 576px) {
  .top-navbar {
    display: none !important;
  }
  .bottom-navbar {
    width: 100%;
    margin: 0 auto;
    padding: 5px 20px;
    .sign-btn {
      display: none;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        padding: 0;
      }
      .fa-search {
        display: none;
      }
    }
  }
  .toggle {
    display: block;
    // position: fixed;
    // top: 0;
    // right: 10px;
    // z-index: 3;
  }
  .navbar-menu {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    border: 2px solid;
    background: $theme-dark;
    z-index: 4;
    transform: translateX(-150%);
    li {
      font-size: 16px;
      font-weight: 500;
      color: rgb(255, 255, 255);

      i {
        color: rgb(255, 255, 255);
        font-size: 12px;
        transform: translate(2px, 1px);
      }
    }
    .active {
      color: $theme-dark;
    }
  }

  .quick-cards {
    flex-wrap: wrap;
    margin-bottom: 100px;
    .quick-card {
      margin: 30px 10px;
    }
  }

  .covid-test-section {
    .fix-bg {
      padding: 60px 10px;
    }
    .para {
      width: 100%;
      word-break: break-all;
    }

    .floats-div {
      width: 100px;
      .icon {
        i {
        }
      }
      .title {
        font-size: 12px;
        text-align: center;
      }
      .description {
        font-size: 12px;
      }
    }
    .float1,
    .float2 {
      transform: translateX(0);
    }
    .float3,
    .float4 {
      transform: translateX(0);
    }
    .float2,
    .float4 {
      transform: translateY(10%);
    }

    .circle {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      div {
        width: 200px;
        height: 200px;
        margin-top: 80px;
        border: 15px solid rgb(255, 255, 255);
      }
    }

    .book-card-container {
      justify-content: start;
      overflow-x: scroll;
      transform: translateY(-14%);
      .book-card {
        .card-item {
          .top {
            padding: 0 10px;
            .nos {
              font-size: 24px;
            }
            .title {
              font-size: 13px;
            }
          }
          .link {
            padding: 5px 10px;
            border-radius: 5px;
          }
        }
      }

      .book-card:hover {
        transform: scale(1.09);
      }
    }
  }
}
